body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

blockquote {
	background-color: rgba(0,0,0,.85);
	position: absolute;
	text-align: center;
	border-radius: 5px;
}

q, p {
	color: white;
}

q {
	font-size: 1.5em;
}

p {
	font-family: 'Merriweather', serif;
}

button {
	position: absolute;
	/* top: 60%;
	left: 46%; */
	z-index: 1;
	border: none;
	border-radius: 2px;
	width: 140px;
	height: 40px;
	font-family: 'Lato', sans-serif;
	font-size: .8em;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
}


@media screen and (max-width: 450px) {
  blockquote {
    top: 20%;
    left: 1%;
    padding: 20px;
    width: 70%;
  }

  button {
    top: 60%;
    left: 34%;
  }
}

@media screen and (min-width: 451px) {
  blockquote {
    top: 20%;
  	left: 4%;
    padding: 20px;
    width: 70%;
  }

  button {
    top: 60%;
  	left: 37%;
  }
}

@media screen and (min-width: 600px) {
  blockquote {
  	left: 15%;
    width: 50%;
  }

  button {
    top: 70%;
  	left: 39%;
  }
}

@media screen and (min-width: 900px) {
  blockquote {
    top: 25%;
    left: 22%;
    width: 40%;
  }

  button {
    top: 70%;
    left: 41%;
  }
}

@media screen and (min-width: 1400px) {
  blockquote {
    top: 25%;
    left: 25%;
    width: 40%;
  }

  button {
    top: 70%;
    left: 44%;
  }
}
